$motive: #171e25;
//typography
h2 {
  text-transform: uppercase;
  font-family: "Open Sans", "Calibri", sans-serif;
}

a {
  color: cornflowerblue;
}

body {
  background-color: $motive;
  color: silver;
  font-size: 16px;
  font-family: 'Merriweather', serif;;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: $motive;
  padding: 10px 20px;
  position: relative;
}

.img-wrapper {
  background-color: $motive;
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: inline-block;
    border: solid brown 5px;
    max-height: 280px;
    filter: grayscale(100%);
  }
}

footer {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.next {
  padding-top: 20px;
  display: inline-block;
}

.bottle {
  position: absolute;
  right: -200px;
  top: 200px;
  color: $motive;
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    color: lighten($motive, 30%);
    cursor: default;
    font-size: 30px;
  }
}

.number {
  position: relative;
  bottom: 7px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: $motive;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 95vh;
}

main {
  flex: 1
}