<div ng-controller="ExampleController">
    <h2>Always waiting for nothing</h2>
    <div class="img-wrapper" style="background-color: black">
        <img ng-src="img/8582431779_65f54d1613_b.jpg" alt="">
    </div>
    <p>Czekając na Ewę, <i>M</i>arek zastanawiał się nad treścią wczorajszej rozmowy. Ktoś zadzwonił do niego, podając się za bogatego wydawcę lokalnego czasopisma, który chce dowiedzieć się więcej na temat <i>u</i>rban explo<i>r</i>ation. W tym celu, poprosił Marka o zabranie Ewy, młodej dziennikarki, w pewne miejsce.</p>
    <p>Szpital psychiatryczny na ulicy Partyzantów, był trudno <i>d</i>ostępny, a co więcej, na jego temat nie było żadnych informacji w sieci. Marek znalazł jedynie kilka rozmazanych zdjęć wskazujących na to, że ktoś opuszczał to mi<i>e</i>jsce w wielkim pośpiechu.</p>
    <p>- Niepokojące, pomyślał Ma<i>r</i>ek, przyglądając się grafitti. </p>
    <p>Czuł, że <u>powyżej</u> czai się coś dziwnie pochylonego, coś, co może ułatwić mu rozwiązanie zagadki.</p>
    <form novalidate>
        <hr>
        <input type="text" ng-model="riddleAnswer2">
        <button value="Compare" ng-click="compare()">Sprawdź</button>
        <br>
    </form>
    <div ng-show="passValue2">
        <a href="#/meeting" class="next">Następna zagadka</a>
    </div>
</div>