<h2>Pomoc i FAQ</h2>
<div class="img-wrapper">
  <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Urban_Exploring_Dadipark_1.JPG/800px-Urban_Exploring_Dadipark_1.JPG" alt="">
</div>
<p>Wymagania</p>
<ul>
  <li>Gra była testowana na monitorach o rozdzielczości powyżej 1366 pixeli. Niektórych zagadek nie można rozwiązać na urządzeniach mobilnych, lub będzie to utrudnione.</li>
  <li>Przeglądarki - najnowsze wersje przeglądarek Google Chrome i Mozilla Firefox</li>
  <li>Do odgadnięcia niektórych zagadek, konieczna jest mysz lub inne urządzenie obsługujące kursor.</li>
</ul>
<p>Jeśli znalazłeś błędy w grze, napisz do mnie</p>
<p>kamil.strefatekstu[at]gmail.com</p>