    <div class="img-wrapper">
    </div>
    <h1>Witaj zbłąkany wędrowcze!</h1>
    <p>Przed tobą wiele trudnych zagadek</p>
    <p>Aby przejść planszę, wpisz w pole odpowiednie hasło. Podpowiedzi kryją się wszędzie, lub ... nie ma ich wcale.
        Jeśli masz problem z rozwiązaniem zagadki, zajrzyj do źródła strony (f12). Niektóre odpowiedzi trzeba wpisać
        bezpośrednio w pasek adresu w przeglądarce.</p>
    <p>Aby zachować stan gry ... cóż, dodaj stronę do zakładek. </p>
    <p>Powodzenia</p>
    <a href="#/opening">Zacznij grę</a>
