    <h2>Nazywaj rzeczy po imieniu, a zmienią się w oka mgnieniu</h2>
    <div class="img-wrapper">
        <img ng-src="img/mask.jpg" alt="">
    </div>
    <p>Ewa spóźniła się kilka minut</p>
    <p>- Przepraszam, ale gdy tutaj szłam, spotkało mnie coś strasznego. Gdy wysiadałam z autobusu, zauważyłam na przystanku ogromnego wilczura. Szybko zawróciłam i wysiadłam na następnym przystanku. </p>
    <p>- Nie zwlekajmy więc, udajmy się w nasza podróż</p>
    <form novalidate>
        <hr>
        <input type="text" ng-model="riddleAnswer3" required>
        <button value="Compare" ng-click="compare()">Sprawdź</button>
        <br>
    </form>

    <div ng-show="passValue3" class="next">
        <a href="#/last">Przejdź dalej</a>
    </div>
