<div ng-controller="ExampleController">
    <div class="img-wrapper" style="background-color: black">
        <img src="http://www.spirit-of-metal.com/les%20goupes/W/Wolves%20In%20The%20Throne%20Room/pics/275217_logo.jpg" alt="">
    </div>
    <h2>Podobno jeśli zespół metalowy ma logo, które można odczytać, nie jest true. W tej zagadce musisz odszyfrować niezbyt staranną typografię.</h2>
    <form novalidate>
        <hr>
        <input type="text" ng-model="riddleAnswer2">
        <button value="Compare" ng-click="compare()">Sprawdź</button>
        <br>
    </form>
    <div ng-show="passValue2">
        <a href="#/happy">Następna zagadka</a>
    </div>
</div>