<div ng-controller="ExampleController">
    <h2>Wprowadzenie</h2>
    <div class="img-wrapper">
        <img ng-src="img/img1.jpg" alt="">
    </div>
    <p>Tego dnia zapowiadało się wielkie zwiedzanie. Marek zabrał ze sobą wszystkie niezbędne rzeczy i wyszedł z
        domu.</p>
    <p>Nic nie zapowiadało nadchodzącej tragedii</p>
    <p>Aby przejść dalej, wpisz w pole wyszukiwania, jak nazywa się eksplorowanie opuszczonych budynków. Ma to trochę wspólnego z Goebellsem stanu wojennego, oraz z zegarkiem noszonym przez odkrywcę biegunów.</p>
    <form novalidate>
        <hr>
        <input type="text" ng-model="riddleAnswer1">
        <button value="Compare" ng-click="compare()">Sprawdź</button>
        <br>
    </form>
    <div ng-show="passValue1" class="next">
        <a href="#/xyz">Przejdź dalej</a>
    </div>
</div>