<div class="img-wrapper">
  <h2>Dziwne znalezisko</h2>
  <a href=""></a>
  <img ng-src="http://img12.deviantart.net/2e7b/i/2008/095/0/3/the_periodic_table_by_shadowglove.jpg" alt="">
  <p>- Wiesz co, nie wydaje mi się, żeby to była woda. Pod spodem jest jeszcze jedna etykieta, chyba ktoś ją zakleił.</p>
  <p>- I co jest na niej napisane?</p>
  <p>- Jakiś dziwny kod. 88 29 6  1 39. A na ścianie wisi jakaś dziwna tabelka.</p>
  <p>- To nie ma żadnego sensu. Ach, gdybyśmy znaleźli tę tabelę w lepszej wersji.</p>
  <p>- Nie, to nie może być prawda. Kto wymyśla takie hasła ...</p>
</div>
<form novalidate>
  <hr>
  <input type="text" ng-model="riddleAnswer5" required>
  <button value="Compare" ng-click="compare()">Sprawdź</button>
  <br>
</form>
<div ng-show="passValue5" class="next">
  <a href="#/last">Przejdź dalej</a>
</div>
