<div class="img-wrapper">
  <h2>Dziwne znalezisko</h2>
  <img ng-src="img/104707110_325b3af73e_b.jpg" alt="">
  <p>Nim weszli do budynku, Ewa zobaczyła coś dziwnego, po prawej</p>
  <p>- Hej, to może nam się przydać!</p>
  <p>- Nie ma mowy, kodeks eksploratora mówi jasno - z miejsca zabieramy tylko zdjęcia, a zostawiamy, jedynie ślady stóp. </p>
  <p>- Mnie nie obowiązuje ten kodeks - odpowiedziała - zabieram TO.</p>
  <p>- Gdybyśmy wiedzieli, co w niej jest, moglibyśmy łatwiej przejść dalej</p>
  <p>- Tu jest bardzo ciemno i nie widzę dokładnie. Może to trucizna?</p>
  <p>- Będzie łatwiej, gdy przeczytasz to, bez naukowego bełkotu!</p>
  <p class="bottle">Monotlenek diwodoru</p>
</div>
<form novalidate>
  <hr>
  <input type="text" ng-model="riddleAnswer4" required>
  <button value="Compare" ng-click="compare()">Sprawdź</button>
  <br>
</form>
<div ng-show="passValue4" class="next">
  <a href="#/last">Przejdź dalej</a>
</div>
