/* line 1, ../sass/screen.scss */
body {
  background-color: black;
  color: silver;
}

/* line 5, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 8, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, ../sass/screen.scss */
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: black;
  padding: 10px 20px;
  position: relative;
}

/* line 19, ../sass/screen.scss */
.img-wrapper {
  width: 100%;
  max-width: 500px;
  height: 300px;
  background-color: darkslategrey;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid brown 5px;
}
/* line 27, ../sass/screen.scss */
.img-wrapper img {
  width: 100%;
}

/* line 31, ../sass/screen.scss */
footer {
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  margin: 0 auto;
}

/* line 38, ../sass/screen.scss */
.next {
  padding-top: 20px;
}
