/* line 3, ../sass/screen.scss */
h2 {
  text-transform: uppercase;
  font-family: "Open Sans", "Calibri", sans-serif;
}

/* line 8, ../sass/screen.scss */
a {
  color: cornflowerblue;
}

/* line 12, ../sass/screen.scss */
body {
  background-color: #171e25;
  color: silver;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

/* line 20, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 24, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 28, ../sass/screen.scss */
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #171e25;
  padding: 10px 20px;
  position: relative;
}

/* line 36, ../sass/screen.scss */
.img-wrapper {
  background-color: #171e25;
}
/* line 38, ../sass/screen.scss */
.img-wrapper img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: inline-block;
  border: solid brown 5px;
  max-height: 280px;
  filter: grayscale(100%);
}

/* line 49, ../sass/screen.scss */
footer {
  max-width: 700px;
  margin: 0 auto;
}

/* line 54, ../sass/screen.scss */
.next {
  padding-top: 20px;
  display: inline-block;
}

/* line 59, ../sass/screen.scss */
.bottle {
  position: absolute;
  right: -200px;
  top: 200px;
  color: #171e25;
  transition: 0.5s ease;
  cursor: pointer;
}
/* line 66, ../sass/screen.scss */
.bottle:hover {
  color: #526b83;
  cursor: default;
  font-size: 30px;
}

/* line 73, ../sass/screen.scss */
.number {
  position: relative;
  bottom: 7px;
  display: block;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #171e25;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

/* line 89, ../sass/screen.scss */
body {
  display: flex;
  flex-flow: column;
  min-height: 95vh;
}

/* line 95, ../sass/screen.scss */
main {
  flex: 1;
}
